[Unit]
Description=OpenWiFi Firmware Management Service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
Environment="OWFMS_ROOT=/home/admin/dev/wlan-cloud-ucentralfms"
ExecStart=/home/admin/dev/wlan-cloud-ucentralfms/cmake-build/owfms
WorkingDirectory=/home/admin/dev/wlan-cloud-ucentralfms
# ExecReload=/bin/kill -s HUP $MAINPID
User=admin
# TimeoutSec=0
RestartSec=2
Restart=always
StartLimitBurst=3
# KillMode=process
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target
