[Unit]
Description=OpenWiFi Firmware Management Service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
Environment="UCENTRALFMS_ROOT=/home/admin/dev/wlan-cloud-ucentralfms"
ExecStart=/home/admin/dev/wlan-cloud-ucentralfms/cmake-build/ucentralfms
WorkingDirectory=/home/admin/dev/wlan-cloud-ucentralfms
# ExecReload=/bin/kill -s HUP $MAINPID
User=admin
# TimeoutSec=0
RestartSec=2
Restart=always
StartLimitBurst=3
# KillMode=process

[Install]
WantedBy=multi-user.target
